/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font, sans-serif);
  font-variation-settings: "wght" var(--primaty-font-weight-text);
  background-attachment: fixed;
  background-image: var(--background-gradient);
}

.container {
  inline-size: var(--container-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font, sans-serif);
  gap: 20px;
  padding-block-start: clamp(7.625rem, 0.751vw + 7.449rem, 8.125rem);
  padding-block-end: clamp(7.625rem, 0.751vw + 7.449rem, 8.125rem);
}

.header__logo {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
}
.header__title {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
}

svg {
  fill: #000;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
