/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.container-position {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  font-family: var(--primary-font, sans-serif);
  font-size: 18px;
  font-variation-settings: "wght" var(--primaty-font-weight-text);
  background-attachment: fixed;
  background-image: var(--background-gradient);
}

.container {
  inline-size: var(--container-size);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color-text);
}

.header {
  color: var(--accent-color-text, #000);
  font-family: var(--accent-font, sans-serif);
  gap: 20px;
  text-transform: uppercase;
  padding-block: clamp(7.5625rem, 7.3644rem + 0.8451vw, 8.125rem);

  margin-block-end: 98px;
}

.header__logo {
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
}

.content,
.content__list {
  gap: 52px;
}

.content__button {
  flex-direction: column;
  gap: 0.45em;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 4.667em;
}
.content__icon {
  inline-size: 28px;
  block-size: 28px;
}

.card {
  padding-block-start: 4px;
  padding-block-end: 25px;
}

.card__header {
  padding-inline: 10px;
  margin-block-end: 4px;
}

.card__title {
  font-variation-settings: "wght" var(--primaty-font-weight-title);
  font-size: 18px;
}

.card__picture {
  position: relative;
}

.card__decor {
  position: absolute;
  font-family: var(--accent-font, sans-serif);
  inset-block-start: 26px;
  inset-inline-end: 26px;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--text-stroke), 0 1px var(--text-stroke),
    1px 0 var(--text-stroke), 0 -1px var(--text-stroke);
}

@supports (text-stroke: 1px var(--text-stroke)) or
  (-webkit-text-stroke: 1px var(--text-stroke)) {
  .card__decor {
    text-stroke: 1px var(--text-stroke);
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.card__content,
.card__footer {
  padding-inline: 26px;
}

.card__content {
  padding-block: 25px;
  line-height: 1.166;
}

.card__content p:not(.card__content p:last-child) {
  margin-block-end: 25px;
}

.card__footer {
  display: flex;
  justify-self: end;
}

.card__like-button {
  inline-size: 7.223em;
  block-size: 2.111em;
}
.card__icon-button {
  background-color: transparent;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color-text);
  background-color: var(--background-color);
}

.button__text {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  block-size: 191px;
}

.dialog[open] {
  display: flex;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 30px;
  padding-inline: 40px;
  gap: 30px;
  border: 2px solid var(--accent-color-text);
  background-color: var(--background-color);
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.dialog__button {
  inline-size: 261px;
  block-size: 38px;
  text-transform: uppercase;
}

.dialog__icon {
  inline-size: 35%;
  block-size: 60%;
}

.dialog__text {
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (width >= 1440px) {
  .content__button {
    flex-direction: row;
    block-size: 3.055em;
  }
  .content__icon {
    inline-size: 22px;
  }
  .dialog__button {
    inline-size: 293px;
  }
  .dialog {
    padding-inline: 30px;
  }
  .dialog__icon {
    inline-size: 27%;
  }
}
